In [1]:
print("Notebook initialized cleanly")

Notebook initialized cleanly

## Data loading and inspection

In [2]:
import pandas as pd

In [5]:
# Loading dataset
file_path = r"C:\Users\wwwsu\Desktop\All folders\data-screening-exercise\data\messy_ice_detention.csv"
df = pd.read_csv(file_path, header=None, encoding='latin1')
df.head()

,0,1,2,3,4,5,6,7
0,,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,These statistics are made available to the pub...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"ICE FACILITIES DATA, FY25",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"ICE Enforcement and Removal Operations Data, F...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,This list is limited to facilities that have a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

First 6 rows are only the metadata that has be arranged in dataframe, which should be removed just to keep usable data in the dataset.

In [6]:
# Removing first 6 rows
df = df.iloc[6:].reset_index(drop=True)
df.head()

,0,1,2,3,4,5,6,7
0,Name,City,State,Level A,Level B,Level C,Level D,Last Inspection End Date
1,ADAMS COUNTY DET CENTER,NATCHEZ,MS,1876.461078,266.4311377,6.724550898,4.25748503,45673
2,ADELANTO ICE PROCESSING CENTER,ADELANTO,CA,6.401197605,4.323353293,22.60479042,32.63473054,45491
3,ALAMANCE COUNTY DETENTION FACILITY,GRAHAM,NC,4.329341317,3.461077844,6.083832335,6.185628743,45554
4,ALEXA$NDRIA STAGING FACILITY,ALEXANDRIA,LA,137.5209581,47.41317365,76.00598802,52.48502994,45533

First row is still not the header of dataframe. I should be converted to header.

In [7]:
# Setting first row as header
df.columns = df.iloc[0]
df = df[1:].reset_index(drop=True)
df.head()

,Name,City,State,Level A,Level B,Level C,Level D,Last Inspection End Date
0,ADAMS COUNTY DET CENTER,NATCHEZ,MS,1876.461078,266.4311377,6.724550898,4.25748503,45673
1,ADELANTO ICE PROCESSING CENTER,ADELANTO,CA,6.401197605,4.323353293,22.60479042,32.63473054,45491
2,ALAMANCE COUNTY DETENTION FACILITY,GRAHAM,NC,4.329341317,3.461077844,6.083832335,6.185628743,45554
3,ALEXA$NDRIA STAGING FACILITY,ALEXANDRIA,LA,137.5209581,47.41317365,76.00598802,52.48502994,45533
4,ALLEGANY COUNTY JAIL,BELMONT,NY,1.221556886,1.80E-02,0,0,NaN